
<% include ./partials/head %>

<% include ./partials/header %>

<div class="main">
<div id="main-react-holder"><%-main%></div>
</div>


<% include ./partials/sidebar %>

<script id="data" type="application/json"><%-data%></script>

<script id="user" type="application/json"><%-user%></script>
<script id="pageType" type="application/json"><%-pageType%></script>
<script id="similarCities" type="application/json"><%-similarCities%></script>
 <% include ./partials/footer %>
</html>